html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Verdana, "DejaVu Sans", Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 12px;
  color: black;
  background-color: white;
}

#playlistContainer {
  min-height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

#leftPane {
  flex-grow: 1;
  min-height: 100%;
  padding-bottom: 2px;
}

#playlistTable th.time {
  /* This causes a doubly-thick border on high-DPI. */
  /* border-right: solid 1px #888; */
}

#centerDivider {
  flex: 0 0 1px;
  background-color: #888;
}

#rightPane {
  flex-grow: 1;
  padding-bottom: 2px;
}
#searchTitle {
  padding-top: 8px;
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
}
#searchTable {
  border: 0;
  margin-top: 5px;
  border-collapse: collapse;
  -webkit-user-select: none;
}
#searchLeftColumn {
  width: 4em;
}
#searchTable td {
  padding-left: 10px;
}
#searchTable label {
  -webkit-user-select: none;
}

#rightPane input[type=text] {
  border: 1px solid #aaa;
  padding-left: 2px;
}

#artistInput, #titleInput, #albumInput, #keywordsInput, #tagsInput, #minRatingInput {
  padding-right: 17px;
}
#artistClearButton, #titleClearButton, #albumClearButton, #keywordsClearButton, #tagsClearButton {
  position: relative;
  left: -22px;
  top: 2px;
  cursor: pointer;
}
#firstTrackCheckbox, #shuffleCheckbox, #unratedCheckbox {
  margin-right: 15px;
}
#maxPlaysInput {
  padding-right: 2px;
  width: 2em;
}

#searchButtons {
  padding-top: 5px;
}

#searchResultsTitle {
  font-weight: bold;
  padding-right: 10px;
  cursor: default;
  -webkit-user-select: none;
}

#searchResultsControls {
  border-top: 1px solid #888;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  -webkit-user-select: none;
}

#searchResultsTable {
  margin-top: 10px;
}
#searchResultsTable th {
  border-top: solid 1px #ccc;
}
#searchResultsTable input[type="checkbox"] {
  width: 12px;
  height: 12px;
  margin: 0;
}

#searchResultsCheckbox[class~="opaque"] {
  opacity: 1.0;
}
#searchResultsCheckbox[class~="transparent"] {
  opacity: 0.3;
}

#waitingDiv {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #a00;
  color: white;
  padding: 5px;
  font-size: 11px;
  border-radius: 8px;
  display: none;
}
