body {
  margin: 0;
  font-family: Verdana, "DejaVu Sans", Arial, Helvetica, "Liberation Sans", sans-serif;
  font-size: 12px;
}

#songInfoDiv {
  padding: 5px;
}

#coverImage {
  float: left;
  width: 65px;
  height: 65px;
  padding-left: 2px;
  padding-right: 5px;
  cursor: pointer;
  -webkit-user-select: none;
}

#ratingOverlayDiv {
  position: absolute;
  left: 8px;
  top: 52px;
  color: white;
  text-shadow: 0 0 4px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  -webkit-user-select: none;
  pointer-events: none;
}

#artistDiv {
  font-weight: bold;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
}

#titleDiv {
  font-style: italic;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
}

#albumDiv {
  white-space: nowrap;
  line-height: 1.3;
  overflow: hidden;
}

#controlsDiv {
  padding: 5px;
  clear: both;
  -webkit-user-select: none;
}

#updateDiv {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 225px;
  height: 78px;
  background-color: white;
  -moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

#updateCloseImage {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

#ratingDiv {
  margin-left: 6px;
  margin-top: 8px;
}

#ratingSpan a.star {
  cursor: pointer;
  font-size: 16px;
  line-height: 12px;
}

#ratingSpan a.star:hover {
  color: #888;
}

a.debugLink {
  color: #aaa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-decoration: none;
}

#dumpSongLink {
  margin-left: 40px;
}

#tagTextarea {
  border: solid 1px #ccc;
  width: 210px;
  height: 35px;
  margin-left: 4px;
  margin-top: 10px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}
