/* Copyright 2020 Daniel Erat.
 * All rights reserved. */

@import 'common.css';

:host {
  /* Override style set on "dialog.dialog > span" in index.css to prevent a
   * flash of unstyled content (FOUC) due to the dialog being displayed before
   * its contents' stylesheets have been loaded. I tried to find a way to do
   * this without !important, but the rule in index.css is seen as being more
   * specific than the one here. */
  opacity: 1 !important;
}

div.title {
  color: var(--dialog-title-color);
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

hr.title {
  background-color: var(--border-color);
  border: 0;
  height: 1px;
  margin: 4px 0;
}

div.button-container {
  margin-top: 4px;
  text-align: right;
}
