/* Copyright 2020 Daniel Erat.
 * All rights reserved. */

@import 'common.css';

:host(.dialog) {
  /* Override style set by overlay-manager to prevent a flash of unstyled
   * content (FOUC) due to the dialog being displayed before its contents'
   * stylesheets have been loaded. I tried to find a way to do this without
   * !important, but for some reason the .dialog rule in overlay-manager seems
   * to be more specific than e.g. :host(.dialog.ready) here. */
  opacity: 1 !important;
  visibility: visible !important;
}

div.title {
  color: var(--dialog-title-color);
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

hr.title {
  background-color: var(--border-color);
  border: 0;
  height: 1px;
  margin: 4px 0;
}

div.button-container {
  margin-top: 4px;
  text-align: right;
}
