/* Copyright 2014 Daniel Erat.
 * All rights reserved. */

table {
  border-collapse: collapse;
  padding-right: 10px;
  table-layout: fixed;
  width: 100%;
}

th {
  text-align: left;
  padding-right: 10px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding-left: 8px;
  background-color: #f5f5f5;
  -webkit-user-select: none;
  cursor: default;
}

td {
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
td a:hover {
  color: #666;
  text-decoration: underline;
}

td.checkbox,
th.checkbox {
  width: 1px;
}
td.time,
th.artist {
  padding-left: 6px;
}
td.time,
th.time {
  width: 3em;
  text-align: right;
  padding-right: 6px;
  text-overflow: clip;
}
tr.highlight {
  background-color: #bde;
}

input[type='checkbox'] {
  width: 12px;
  height: 12px;
  margin: 0;
}
input[type='checkbox'][class~='opaque'] {
  opacity: 1;
}
input[type='checkbox'][class~='transparent'] {
  opacity: 0.3;
}
